<!doctype html>
<html>
<head>
    {% block head %}
  <!-- imports -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700|Oswald:400,300,700|Roboto+Condensed:400,300,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <!--<link href="test.css" type="text/css" rel="stylesheet" >-->
    {% assets filters="sass", output="css/awesome-cv.css",
    "scss/awesome-cv.sass" %}
    <link rel="stylesheet", href="{{ SITEURL }}/{{ ASSET_URL}}" />
    {% endassets %}
    <meta charset=utf-8 />
    <title>{% block title %}{{page.title}} {% endblock title %}</title>
    <script type="text/javascript">
        function disp(s) {
            var win;
            var doc;
            win = window.open("", "WINDOWID");
            doc = win.document;
            doc.open("text/html");
            doc.write("<pre>" + s + "</pre>");
            doc.close();
        }
    </script>        
    {% endblock head %}
</head>

<body>

  <div id="main">
      {% block content %}
      <h1> {{ page.author }} </h1>
      <p> {{ page.position }} </p>
      <div id="address"> {{ page.address }} </div>
      <div id="webaddress">
        {% if page.phone %}
            <i class="fa fa-phone" style="font-size:12px;"></i>
            {{ page.phone }}
        {% endif %}
        {% if page.email %}
            | <i class="fa fa-envelope" style="font-size:12px;"></i> 
            <a href="mailto:{{ page.email }}">{{ page.email }}</a> 
        {% endif %}
        {% if page.website %}
            | <i class="fa fa-home" style="font-size:12px;"></i> 
            <a href="http://{{ page.website }}">{{ page.website }}</a> 
        {% endif %}
        {% if page.github %}
            | <i class="fa fa-github" style="font-size:12px;"></i> 
            <a href="http://github.com/{{ page.github }}">{{ page.github }}</a>  
        {% endif %}
        {% if page.gitlab %}
            | <i class="fa fa-gitlab" style="font-size:12px;"></i> 
            <a href="http://gitlab.com/u/{{ page.gitlab }}">{{ page.gitlab }}</a>  
        {% endif %} 
        {% if page.linkedin %}
            | <i class="fa fa-linkedin" style="font-size:12px;"></i> 
            <a href="http://linkedin.com/in/{{ page.linkedin }}">{{ page.linkedin }}</a>  
        {% endif %} 
      </div>
    <div id="content">
    {{ page.content }}
    </div>
    {% endblock content %}

    <h2 class="publications"><span
        class="awesome-color">Pub</span>lications</h2>
    {% if journal %}
        <h3 class="publication-type">Journal articles</h3>
        {% for yeargroup in journal|groupby(1)|reverse %}
            <h4 class="publication-year"> {{ yeargroup.grouper }} </h4>
            <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
                <p>
                <li id="{{ key }}">{{ text }}
                <br />
                <div class='noprint'>
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('URL', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}  
                </div>
                </p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    {% if invited %}
        <h3 class="publication-type">Invited talks</h3>
        {% for yeargroup in invited|groupby(1)|reverse %}
            <h4 class="publication-year"> {{ yeargroup.grouper }} </h4>
            <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
                <p>
                <li id="{{ key }}">{{ text }}
                <br />
                <div class='noprint'>
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('URL', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}  
                </div>
                </p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %} 
    {% if conference %}
        <h3 class="publication-type">Conference Contributions</h3>
        {% for yeargroup in conference|groupby(1)|reverse %}
            <h4 class="publication-year"> {{ yeargroup.grouper }} </h4>
            <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
                <p>
                <li id="{{ key }}">{{ text }}
                <br />
                <div class='noprint'>
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('URL', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}  
                </div>
                </p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %}
    {% if patent %}
        <h3 class="publication-type">Patents</h3>
        {% for yeargroup in patent|groupby(1)|reverse %}
            <h4 class="publication-year"> {{ yeargroup.grouper }} </h4>
            <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
                <p>
                <li id="{{ key }}">{{ text }}
                <br />
                <div class='noprint'>
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('URL', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                </div>
                {% endfor %}  
                </p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %} 
    {% if book_chapter %}
        <h3 class="publication-type">Book Chapters</h3>
        {% for yeargroup in book_chapter|groupby(1)|reverse %}
            <h4 class="publication-year"> {{ yeargroup.grouper }} </h4>
            <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
                <p>
                <li id="{{ key }}">{{ text }}
                <br />
                <div class='noprint'>
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('URL', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}  
                </div>
                </p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %} 
    {% if book %}
        <h3 class="publication-type">Books</h3>
        {% for yeargroup in book|groupby(1)|reverse %}
            <h4 class="publication-year"> {{ yeargroup.grouper }} </h4>
            <ul>
            {% for key, year, text, bibtex, pdf, slides, poster in yeargroup.list %}
                <p>
                <li id="{{ key }}">{{ text }}
                <br />
                <div class='noprint'>
                [&nbsp;<a href="javascript:disp('{{ bibtex|replace('\n', '\\n')|escape|forceescape }}');">Bibtex</a>&nbsp;]
                {% for label, target in [('URL', pdf), ('Slides', slides), ('Poster', poster)] %}
                    {{ "[&nbsp;<a href=\"%s\">%s</a>&nbsp;]" % (target, label) if target }}
                {% endfor %}  
                </div>
                </p>
                </li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endif %} 
  </div>

  <div class="footer"></div>

</body>
</html>
