<!doctype html>
<html>
<head>
    {% block head %}
  <!-- imports -->
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700|Oswald:400,300,700|Roboto+Condensed:400,300,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href="test.css" type="text/css" rel="stylesheet" media="screen">
  <link href="cv-print.css" type="text/css" rel="stylesheet" media="print">
  <meta charset=utf-8 />
  <title> Jochen Schröder's</title>

  {% endblock %}
</head>

<body>
  <div id="main">

      {% block content %}
    <div id="content">
    {{ page.content }}
    </div>
    {% endblock %}
  </div>

  <div class="footer"></div>

</body>
</html>
